.text-input-ios{
    direction: rtl;
}

* {
    font-family: 'Cairo', sans-serif;
}

.toolbar-background-ios{
    background-image: url(../assets/imgs/rec.jpg);
    background-size: 100% 100%;
}

.toolbar-title-ios{
    color: white;
}